<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Rapper Names App</title>
</head>
<body>
   <h1>Current Rappers</h1> 
   <ul class="rappers">
   <% for(let i = 0; i < info.length; i++) {%>
    <li>    
    <span><%= info[i].stageName %></span>
    <span><%= info[i].birthName %></span>
    <span class="likesNum"><%= info[i].likes %></span>
    <img src="/img/like.png" alt="like-icon" class="like">
    <img src="/img/trash.png" alt="bin-icon" class="trash">
    </li>
    <% } %>
   </ul>
   <form action="/addRapper" method="post">
    <input type="text" placeholder="Stage Name" name="stageName">
    <input type="text" placeholder="Birth Name" name="birthName">
    <button type="submit">Submit</button>
   </form>
   <script src="/js/main.js"></script>
</body>
</html>