h1 {
    color: red;
}
ul {
    padding-left: 0;
}
ul img {
    cursor: pointer;
}
li {
    width: 25%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
li > span {
    flex-basis: 12rem;
}
.trash, .like {
    width: 25px;
    height: 25px;
}